<li>

	{{name}}
		{{#if devour}}
	<button class="delete-burger" data-id="{{this.id}}">SILENCE BURGER!</button>

		{{else}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		GOBBLE *gross grunts and gobble noises*!
	</button>
		
			{{/if}}

</li>
